.jetbrains-mono-fonts {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form {
    width: auto
}

.popover-container {
    position: relative;
}

.popover-content {
    display: none;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: grey;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: 300px;
}

.popover-content::before {
    content: '';
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent grey transparent;
}

.popover-trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: black;
    width: 30px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    color: grey;
    cursor: pointer;
}

.popover-trigger:hover+.popover-content {
    display: block;
}

#afterDeduc {
    color: grey;
}